<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Taste Test - <%= establishment.name %></title>
    <link rel="stylesheet" href="style.css">
    <link rel="icon" type="image/x-icon" href="/images/favicon.ico">
    <script src="script.js"></script>
</head>
<body>
    <div class="background">
        <div class="nav-bar-green">
            <nav>
                <div class="logo-name-white">
                    <% if (!loggedInUser) { %>
                        <i class="fi fi-sr-hamburger-soda nav-logo-white" onclick="feedguest()"></i>
                      <% } else if (loggedInUser.role == 'User'){ %>
                        <i class="fi fi-sr-hamburger-soda nav-logo-white" onclick="feed()"></i>
                      <% } else if (loggedInUser.role == 'Admin'){ %>
                        <i class="fi fi-sr-hamburger-soda nav-logo-white" onclick="adminfeed()"></i>
                      <% } %>
                      <h1>Taste Test</h1>
                </div>
            </nav>
        </div>
        <div class="res-content">
            <div class="res-content-top">
                <div class="overlay-green"></div>
                <h1><%= establishment.name %></h1>
                <div class="res-top-info">
                    <div class="res-page-loc">
                        <i class="fi fi-sr-marker green-icon loc-feed"></i>
                        <p><%= establishment.location %></p>
                    </div> 
                    <div class="res-full-gallery">
                        <i class="fi fi-rr-angle-left white-icon" onclick="galleryback()"></i>
                        <div class="res-gallery">
                            <% establishment.images.forEach(function(image) { %>
                                <div><img src="<%= image.replace('/static', '') %>" alt="Gallery Image"></div>
                            <% }); %>
                        </div>
                        <i class="fi fi-rr-angle-right white-icon" onclick="gallerynext()"></i>
                    </div>
                    <!-- Dynamic Rating Display Here -->
                </div>         
            </div>
            <div class="res-content-bottom">
                <h1>About</h1>
                <p><%= establishment.description %></p>
                <h1>Cuisine</h1>
                <ul>
                    <% establishment.cuisine.forEach(function(type) { %>
                        <li><%= type %></li>
                    <% }); %>
                </ul>
                <h1>Popular Menu Items</h1>
                <ul>
                    <% if (establishment && establishment.popularitems && establishment.popularitems.length > 0) { %>
                        <% establishment.popularitems.forEach(function(item) { %>
                            <li><%= item %></li>
                        <% }); %>
                    <% } else { %>
                        <li> </li>
                    <% } %>
                </ul>
                <br>
                <div class="res-rev-header">
                    <h1>Reviews</h1>
                    <div class="green-icon sort-by">
                        <i class="fi fi-rr-bars-sort"></i>
                        <p>Sort By: </p>
                        <select>
                            <option value="recommended">Recommended</option>
                            <option value="most-stars">Most Stars</option>
                            <option value="least-stars">Least Stars</option>
                            <option value="new-reviews">Newest Review</option>
                            <option value="old-reviews">Oldest Review</option>
                        </select>
                    </div>
                </div>
                <%if (loggedInUser.role == 'User' && loggedInUser != 1){ %>
                <form id="reviewForm" action="/establishments/<%= establishment._id %>" method="POST">
                    <label for="rating">Rating:</label>
                    <select name="rating" id="rating" required>
                        <option value="5">5 Stars</option>
                        <option value="4">4 Stars</option>
                        <option value="3">3 Stars</option>
                        <option value="2">2 Stars</option>
                        <option value="1">1 Star</option>
                    </select>
                    <label for="title">Title:</label>
                    <input type="text" id="title" name="title" required>
                    <label for="body">Review:</label>
                    <textarea id="body" name="body" required></textarea>
                    <input type="submit" value="Submit Review">
                </form>
                <%} %>
                <div class="reviews-container">
                    <% reviews.forEach(function(review) { %>
                        <div class="res-page-review">
                            <div class="review-header">
                                <img src="<%=review.userAvatar.replace('/static', '') %>" alt="User Avatar">
                                <div class="rev-info">
                                    <h1><%= review.username %></h1>
                                    <div>
                                        <% for (let i = 0; i < review.rating; i++) { %>
                                            <i class="fi fi-sr-star green-icon star-user-acc"></i>
                                        <% } %>
                                        <% for (let i = review.rating; i < 5; i++) { %>
                                            <i class="fi fi-rr-star green-icon star-user-acc"></i>
                                        <% } %>
                                    </div>
                                </div>
                                <div class="vote-system">
                                    <div class="arrows">
                                        <i class="fi fi-sr-up green-icon"></i>
                                        <i class="fi fi-sr-down green-icon"></i>
                                    </div>
                                </div>
                            </div>
                            <div class="review-desc">
                                <h2><%= review.title %></h2>
                                <p><%= review.body %></p>
                                <p><%= review.datePosted %></p>
                            </div>
                        </div>
                    <% }); %>
                </div>
            </div>
        </div>
    </div>
</body>
</html>