<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Taste Test</title>
    <link rel="stylesheet" href="style.css">
    <link rel="icon" type="image/x-icon" href="/images/favicon.ico">
    <script src="script.js"></script>
</head>
<body>
<div class="background">
    <div class="nav-bar">
        <nav>
            <div class="logo-name">
                <i class="fi fi-sr-hamburger-soda  nav-logo-green" onclick="feedguest()"></i>
                <h1>Taste Test</h1>
            </div>
            <div class="guest-nav">
                <h1 class="guest-to-user" onclick="signinpage()">Sign-In here!</h1>
                <h1>Not a user? <span class="guest-to-user" onclick="signuppage()">Sign-Up here!</span></h1>
            </div>
            
        </nav>
    </div>
    <div class="feed">
        <div class="feed-header">
            <h1>Establishments</h1>
        </div>
        <div class="feed-lowerheader">
            <div class="search-bar">
                <input type="text" id="searchInput" placeholder=" Search Restaurant...">
                <button type="button" onclick="filterRestaurants()"><i class="fi fi-rr-search"></i></button>
            </div>
            <div class="green-icon sort-by">
                <i class="fi fi-rr-bars-sort"></i>
                <p>Sort By:</p>
                <select id="sortSelect" onchange="sortRestaurants()">
                    <option value="recommended">Recommended</option>
                    <option value="most-stars">Most Stars</option>
                    <option value="least-stars">Least Stars</option>
                    <option value="alphabetical">Alphabetical</option>
                </select>
            </div>                      
        </div>
        <div class="feed-body">
            <% establishments.forEach(function(establishment) { %>
                <div class="feed-review">
                    <div class="feed-review-top">
                        <img src="<%=establishment.avatar.replace('/static', '')%>" alt="<%= establishment.name %>">
                        <div class="overlay-black" onclick="resto('<%=establishment._id%>')"></div>
                        <h1><%= establishment.name %></h1>
                    </div>
                    <div class="feed-review-btm">
                        <div class="feed-review-loc">
                            <i class="fi fi-sr-marker green-icon loc-feed"></i>
                            <p><%=establishment.location%></p>
                        </div>
                    <div class="feed-review-rating" data-rating="<%= establishment.rating %>">
                        <% for (let i = 1; i <= 5; i++) { %>
                            <% if (i <= establishment.rating) { %>
                                <i class="fi fi-sr-star green-icon star-feed"></i>
                            <% } else { %>
                                <i class="fi fi-rr-star green-icon star-feed"></i>
                            <% } %>
                        <% } %>
                    </div>
                    </div>
                </div>
            <% }); %>
        </div>
    </div>
</div>
</body>
</html>
